/** Larger Screens - desktops and tablets **/
$largura: 1140px;

@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }


  .app-bar-container {
    display: block;
    height: 130px;
    max-width: $largura;
    padding: 0 16px;
    box-sizing: border-box;
    //background-color: rgba(0, 0, 0, 0.6);

    &::after {
      content: ' ';
      display: block;
      height: 0;
      overflow: hidden;
      clear: both;
    }
    
    .logo {
      float: left;
      display: block;
      width: 120px;
      margin: 0;
      padding: 0;
      line-height: 130px;
      font-size: 46px;
    }
    button.menu {
      display: none;
    }
    .app-bar-actions {
      float: right;
    }
    
    .navdrawer-container {
      
      position: relative;
      top:0;
      width: 80%;
      height: 100%;
      margin-top: 0;
      float: right;
      max-width: 940px;
      -webkit-transform:none;
      transform:none;
      font-weight: bold;

      h4 {
        display: none;
      }
      
      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;   
        max-width: 840px;
        margin: 0 auto;
        flex-direction: row wrap;
        
        li {
          display: block;
          border: {
            bottom: 2px solid white;
          }
          padding-left: 0;   
          margin-left: 10px;
          
          margin-left:2.6%;   
          width: 18.5%;
          
          &:hover{
            border-bottom-color:$colorLayoutsSecondary;
          }
          
           a {
              font-size:1em;
      
              height: 45px;
              padding: 17px 25px 0 0;
          
              &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                color:$colorLayoutsSecondary;
              }
  
              &:focus {
                background-color: rgba(255, 255, 255, 0.3);
                color:$colorLayoutsSecondary;
                outline: 0;
              }
  
              &:active {
                background-color: rgba(255, 255, 255, 0.4);
                color:$colorLayoutsSecondary;
              }
          }
          
        }
        
        li:first-child{
          margin-left: 0;
        }
      }
    }
  }



  main {
    padding-top: 0;
    min-height: initial;
    
    section{
      padding: 0 16px;
    }
  }
  
  header {
    padding-top: 24px;  
  }
  
  body {
//    overflow-y: scroll;
  }
}