
.index {
	text-transform: uppercase;
	font-size: bold;
	color: white;
	
	padding: 0 58px;
	margin-bottom: -50px; 
	
	@include medium {
		margin-bottom: 230px;
	}
	.button{
		color: $colorLayoutsSecondary;
		background: $colorGrayBackground;
	}
	
}