@mixin transform-child($num) { 
	&:nth-child(#{$num}) .section__nav-link.active > svg {
		transform: scale(3.5) translate(49px, -2.3vh -(3.8vh * $num));
		
		@include medium {
			transform: scale(4) translate(6.2vw, 65px -(25px * $num));
		}
		@include wide {
			transform: scale(3.5) translate(55px, 35px -(15px * $num));
		}
	}
}

section.team {

	line-height: 1.5;
	overflow: hidden;
	background: #2694f1;
	font-family: Roboto;
	-webkit-font-smoothing: antialiased;
	
	ul {
		list-style-type: none;
	  	margin: 0;
	  	padding: 0;
	}
	
	.section__nav {
		position:absolute;
		float: left;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		
		&.fixed {
			position: fixed;
			top:0;
			left: 0;
			float: none;
		}
		
		@media (max-width: 720px) {
		    width: 20vw;
		    background: rgba(0,0,0,0.2);
		}
		@media (max-width: 500px) {
		    width: 25vw;
		}
		
		&-item {
	  		margin: 10px 0;
			
			.section__nav-link.active > svg {
				opacity: 1;
				stroke-width: 20px;
				stroke: rgba(255,255,255,0.3);
			}
			
			@include transform-child(1);
			@include transform-child(2);
			@include transform-child(3);
			@include transform-child(4);
		}
		
		&-link{
			display: block;
  			transform: none;		
			
			svg {
				will-change: transform, opacity, stroke;
				width: 70px;
				height: 70px;
				margin: 0 4vw;
				fill: #00ffcf;
				opacity: 0.5;
				padding: 10px;
				transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
				
				@media (max-width: 500px) {
				    width: 55px;
				    height: 55px;
				}
				
			}
		}
	}

	.section {
		will-change: transform;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);

		//@media (max-width: 720px) {
		//	align-items: flex-end;
		//}
		
		&__wrapper{
			padding: 0 4vw;
	  		margin-left: 50%;			
			
			@media (max-width: 720px) {
			    margin-left: 20vw;
			    margin-bottom: 50px;
			}
			@media (max-width: 500px) {
			    margin-left: 30vw;
			}
		}
		&__title{
			color: #00ffcf;
			font-weight: 300;
			margin: 0 0 25px 0;
			
			@media (max-width: 720px) {
			    margin: 0 0 13.5px 0;
			  }
		}
		
		p{
			font-size: 20px;
			margin: 0;
			color: rgba(0,0,0,0.8);
			max-width: 640px;
		
			@media (max-width: 720px) {
				font-size: 16px;
			}	
		}
	}
}
