@mixin transform-child($num) { 
	&:nth-child(#{$num}) .section__nav-link.active > svg {
		transform: scale(3.5)  translate(135%, -(2.6vh + (5vh * $num)));
		
		// @include landscape {
		// 	transform: scale(3.5)  translate(2rem, -(2.6vh + (5vh * $num)));
		// }
		
		@include medium {
			transform: scale(4) translate(17.2vw, -(22px +(25px * $num) -(2*$num)));
		}
		
		@include wide {
			transform: scale(3.5) translate(55px, 35px -(15px * $num));
		}
	}
}	

section.team {

	line-height: 1.5;
	// overflow: hidden;
	// background: #2694f1;
	// -webkit-font-smoothing: antialiased;
	// 
	ul {
		list-style-type: none;
	  	margin: 0;
	  	padding: 0;
	  	
	  	li::before{
	  		content:'';
	  	}
	}
	
	.section__nav {
		position: absolute;
		//float: left;
		height: 120vh;
		display: flex;
		align-items: center;
		justify-content: center;
	    width: 25vw;
		z-index: 1;
		
		@include medium {
		    // width: 20vw;
		    // background: rgba(0,0,0,0.2);
		}
		
		@include small-only {
		    width: 20vw;
		    background: rgba(0,0,0,0.2);
		}
		
		&-item {
	  		margin: 10px 0;
			
			.section__nav-link.active > svg {
				opacity: 1;
				stroke-width: 20px;
				stroke: rgba(255,255,255,0.3);
			}
			
			@include transform-child(1);
			@include transform-child(2);
			@include transform-child(3);
			@include transform-child(4);
		}
		
		&-link{
			display: block;
  			transform: none;		
			
			svg {
				will-change: transform, opacity, stroke;
				width: 55px;
				height: 70px;
				margin: 0;
				fill: $colorLayoutsSecondary;
				opacity: 0.5;
				padding: 10px;
				transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
				
				// @include small-only{
				//     width: 55px;
				//     height: 55px;
				// }
			}
		}
	}

	.section {
		will-change: transform;
		height: 120vh;
		display: flex;
		//align-items: center;
		justify-content: center;
		transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);


		//@include medium-only{
			align-items: flex-end;
		//}
		
		&__wrapper{
			padding: 0 2vw 10vw 0;
		    margin-left: 25vw;
	  		
			@include medium {
			    margin-left: 20vw;
			    margin-bottom: 50px;
			}
			@include wide {
				margin-left: 50%;			
			}
		}
		&__title{
			color: $colorLayoutsSecondary;
			font-weight: 300;
			margin: 5% 0 5px 0;
			font-size: 3em;
			max-width: 236px;
			
			+h6 {
				margin-bottom: 10%; 
			}
		}
		
		
		p{
			font-size: 3vh;
			margin: 0;
			color: rgba(0,0,0,0.8);
			max-width: 640px;
		
			@include medium {
				font-size: 1.2em;
			}
		}
	}
}
