$space: 1.5rem;
$grey: lighten(black, 25);
$blue: #5171C3;
$orange: #DE660F;
$green: #77A02F;
$greenLigth: $green;//lighten($green, 10%);
$yellow: #BDB235;
$tan: #AA9E5C;
$purple: #3E5EB3;
$ease: all .8s cubic-bezier(0.23, 1, 0.32, 1);

%cardItemColors {
	border-top-color: $green;
	p.info-player__num { 
		background: $green;
	}
	&:hover {
		.info-player__name,
		.info-place {
			color: $green;
			font-weight: bold;
		}
	}
	
	&:hover {
		background: #444;
		
		.info-player__num {
			transform: scale(1.1);
		}
	}
}

%connections {
	background: {
		image: url(../images/background/mesh-white.svg);
		repeat: no-repeat;
		position-x: -15px;
		position-y: 0;
		size: 1200px auto; 		 
	}
}

%profileImage {
	line-height: 36px;
	padding: 0;
	margin: 0 $space / 2 0 0;
	border:2px solid $green;
	text-align: center;
	background: silver;
	border-radius: 50%;
	font-size: 24px;
	color: white;
	overflow: hidden;
	transition: $ease;
}

section.testimonials {
	line-height: 1.5;
	background: darken(white, 5);
	color: $grey;

	.view {
		@extend %connections;
	}
	
	.card {
		
		&__list {
			padding: $space / 2;
			display: flex;
		    flex-flow: row wrap;
			justify-content: space-between;
		}
		
		&__item {
			margin: 0 0 $space / 2;
			padding: $space;
			border-top: 4px solid $green;
			box-shadow: 0 1px 3px rgba(black,.12), 0 1px 2px rgba(black,0.24);
			background: white;
			cursor: pointer;
			transition: $ease;
			
			position: relative;
			flex: 0 0 98%;
		 	
		 	@include medium {
		      flex: 0 0 48%;
		    }
		    @include wide {
		      flex: 0 0 24%;
		    }
			
			@extend %cardItemColors;		
		}
		&__info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			
			.text {
				display:none;
			}
			.info-player {
				display: flex;
				align-items: center;
				
				&__num {
					width: 60px;
					height: 60px;
					@extend %profileImage;
				}
				
				&__name {
					line-height: 1.1;
					font-size: 20px;
					margin: 0;
					padding:0;
					
					small {
						font-size: 14px;
					}
				}
			}
		}
		&__texts{
			display: none;
		}
		&__full {
			will-change: transform;
			display: flex;
			flex-flow: column wrap;
			position: fixed;
			top: 50%;
			left: 50%;
			width: 100%;
			max-height: 640px;
			height: 640px;
			
			min-height: 320px;
			
			z-index: 2;
			visibility: hidden;
			transition: $ease;
			
			transform-origin: top center;
			transform: scaleY(0) translate(-50%, -50%);
			@include medium {
				flex-flow: row-reverse wrap;
				transform-origin: left center;
				transform: scaleX(0) translate(-50%, -50%);
			}
			
			&.active {
				transform: scaleY(1) translate(-50%, -50%);
				@include medium{
					transform: scaleX(1) translate(-50%, -50%);
				}	
				
				visibility: visible;
				
				.card__full-num,
				.card__full-handle,
				.card__full-info {
					opacity: 1;
				}
				
				.card__full-info{
					padding-top: 0;
					
					@include medium {
						padding-top: 1.65em;
					}	
				}
			}
			
			&-top{
				flex: 1;
			} 
			&-bottom {
				flex: 3;
			}
			
			&-bottom {
				display: flex;
				justify-content: center;
				flex-flow: column wrap;
				padding: 0 $space;
				background-color: $grey;
				overflow-y: auto;
				margin-bottom: -15px; 
				
				@include medium {
					text-align: right;
				}
			}
			
			&-top {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				background: $greenLigth;
				overflow: hidden;
				
				@include medium {
					padding: 0 10px;
					flex-flow: column wrap;
				}
				
				svg {
					position: fixed;
					top: $space;
					right: $space;
					fill: rgba(black, 0.4);
					width: 45px;
					cursor: pointer;
					transition: $ease;
					
					&:hover {
						fill: rgba(black, 0.7);
						width: 52px; 
					}
				}
			}
			
			&-num,
			&-handle,
			&-info {
				opacity: 0;
				transition: $ease;
				transition-duration: 2s;
				transition-delay: .45s;
			}
			
			&-num {
				color: white;
				font-size: 140px;
				@extend %profileImage;
				border:2px solid white;
				
				@include small-only{
					width: 20%;
				}
				
				img {
					@include medium{
						height: 200px;
						width:  200px;
					}
				}
				+.card__full-title{
					color:white;
					
					@include small-only{
						width: 60%;
						
						h2, h3{
							padding-top:0; 
						}
					}
				}
			}
			
			&-handle {
				font-size: 16px;
				margin: 0;
			}
			
			&-info {
				margin: 0;
				font-size: 20px;
				color: white;
			}
		}
	}
}