/**
*
* Button
*
**/

.button {
  display: inline-block;
  padding: (($lineHeight / 2) - 1) 32px;
  margin-bottom: $lineHeight / 2;
  margin-top: $lineHeight / 2;
  min-height: $lineHeight;

  text-align: center;

  font-family: $fontHighlight;
  font-weight: 600;
  text-decoration: none;

  outline: 0;

  transition: none;

  &:hover {
    background: $colorGray;
    color: #ffffff;
    border: 1px solid $colorGray;
    text-decoration: none;
  }
}

// Mixin to create buttons
@mixin style-button($color, $textColor, $isInverted: false) {

  background: $color;
  color: $textColor;
  border: 1px solid darken($color, 10%);
  
  @if $isInverted { 
    border-color: transparent;
    
    &:hover {
      background: $textColor;
      color: $color;
      border: 1px solid $textColor;
    }
  }
}


.button--primary {
  @extend .button;
  @include style-button($colorUser, #ffffff);
}

.button--secondary {
  @extend .button;
  @include style-button(#ffffff, $colorLayoutsSecondary);
}

.button--secondary-variation {
  @extend .button;
  @include style-button($colorUser, #ffffff, true);
}

.button--dark {
  @extend .button;
  @include style-button($colorGray, #ffffff);
  text-decoration: none;
}