// Navicon
// ===============================================================

$navicon-color: black !default;
$navicon-transition: .3s !default;
$navicon-base: 1rem !default;
$navicon-space: $navicon-base/4 !default;
$navicon-size: 2rem !default;
$navicon-radius: $navicon-size/14 !default;

@mixin navicon_lines {
  display: inline-block;
  width: $navicon-size;
  height: $navicon-size/7;
  background: $navicon-color;
  border-radius: $navicon-radius;
  transition: $navicon-transition;
}

[data-navicon="button"] {
  display:inline-block;
  margin: 0 1em;
  border:none;
  background: none;
  cursor: pointer;
  user-select: none;
  > * { display:block; }
  &:focus { outline: none; }
}

.navicon {
  padding: $navicon-size/2 $navicon-size/4;
  transition: $navicon-transition;
}

.navicon__lines {
  @include navicon_lines;
  position: relative;
  &:before,
  &:after {
   @include navicon_lines;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: $navicon-size/14 center;
  }
  &:before { top: $navicon-size/4; }
  &:after { top: -$navicon-size/4; }
  .is--closed & {
    transform: scale3d(.8,.8,.8); 
  }
}

.navicon-x {
  &.is--closed {
    .navicon__lines {
      background: transparent;
      &:before,
      &:after {
        transform-origin: 50% 50%;
        top: 0;
        width: $navicon-size;
      }
      &:before { transform: rotate3d(0, 0, 1, 45deg); }
      &:after { transform: rotate3d(0, 0, 1, -45deg); }
    }
  }
}
