/**
*
* Quote
*
**/

.quote__content {
  position: relative;
  font-family: $fontHighlight;
  @include type--medium;
  padding-top: $lineHeight * 2;
  padding-left: $lineHeight * 5;

  @include medium {
    padding-top: $lineHeight * 2;
    padding-left: $lineHeight * 5;
  }

  .profile {
    display: block;
    position: absolute;
    font-weight: 700;
    color: $colorGrayBackground;
    top: 90px;
    left: $lineHeight;
    font-size: 260px;

    @include medium {
      top: 225px;
      left: -14px;
      font-size: 500px;
    }
  }
  p {
    border-top: 1px solid $colorGrayKeyline;
    text-align: right;
    font-weight: 500;
    margin-top: $lineHeight/2 - 1;
    padding-top: $lineHeight/2;
  }
}

.depoimentos {
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  figure {
    border: 1px solid #333;
    position: relative;
    font-size: 0;
    margin: 2% 0;
    flex: 0 0 98%;
    
    @include medium {
      flex: 0 0 48%;
    }

    @include wide {
      flex: 0 0 24%;
    }
    
    &:nth-child(even){ 
      img{
        float: right; 
      }
      figcaption{
        left: 4%; 
        right: auto; 
        text-align: left;
        p {
          text-align: left;
        }  
      }
    }
    
    img {
      width: 20%; 
      height: 72px;
      border: 2px solid #FFF; 
      margin: 0 2px 0 2px;
      //max-height: 68px; 
//      margin-top: -2rem;
    }
    
    figcaption {
      position: absolute; 
      right: 4%;
      top: -30%;
      text-transform: uppercase;
      text-align: right;
      width: 74%;
      
      @include type--large;
      @include medium {
        @include type--medium;
      }

      p {
          text-transform: none;
          border-top: 1px solid $colorGrayKeyline;
          font-weight: 500;
          padding-top:0;
      }
      .content{
        display: none;
      }
    }
  }
}
