
nav.section__nav
  ul.section__nav-list
    li.section__nav-item
      a.section__nav-link.active(href='#christie')
        svg(x='0', y='0', width='200', height='200', viewbox='0 0 200 200', enable-background='new 0 0 200 200', xml:space='preserve')
          circle()
          path(d='M199 99.5c0 55-44.5 99.5-99.5 99.5 -55 0-99.5-44.5-99.5-99.5C0 44.5 44.5 0 99.5 0 154.5 0 199 44.5 199 99.5z')
    li.section__nav-item
      a.section__nav-link(href='#abraao')
        svg(x='0', y='0', width='200', height='200', viewbox='0 0 200 200', enable-background='new 0 0 200 200', xml:space='preserve')
          path(d='M199 99.5c0 55-44.5 99.5-99.5 99.5 -55 0-99.5-44.5-99.5-99.5C0 44.5 44.5 0 99.5 0 154.5 0 199 44.5 199 99.5z')
    li.section__nav-item
      a.section__nav-link(href='#rebecca')
        svg(x='0', y='0', width='200', height='200', viewbox='0 0 200 200', enable-background='new 0 0 200 200', xml:space='preserve')
          path(d='M199 99.5c0 55-44.5 99.5-99.5 99.5 -55 0-99.5-44.5-99.5-99.5C0 44.5 44.5 0 99.5 0 154.5 0 199 44.5 199 99.5z')

a(name='christie')
section.section(style='background-color:red;')
  .section__wrapper
    h1.section__title Christie
    p
      | A circle is a simple shape in Euclidean geometry. It is the set of all points in a plane that are at a given distance from a given point.
a(name='abraao')
section.section(style='background-color:yellow;')
  .section__wrapper
    h1.section__title Abraão 
    p
      | A triangle is a polygon with three edges and three vertices. It is one of the basic shapes in geometry.

a(name='rebecca')
section.section
  .section__wrapper
    h1.section__title Rebecca
    p
      | In geometry, a square is a regular quadrilateral, which means that it has four equal sides and four equal angles (90-degree angles, or right angles).
