  
mixin member(name, imageUrl)
  li.section__nav-item
    a.section__nav-link.active(href='#'+name)
      svg(x='0', y='0', width='200', height='200', viewbox='0 0 200 200', enable-background='new 0 0 200 200', xml:space='preserve')
        clipPath(id="circle")
          circle(cx="50%", cy="50%", r="45%")
        circle(cx="50%", cy="50%", r="50%")
        image(x="0", y="0", xlink:href=imageUrl, height="100%", width="100%", clip-path="url(#circle)")  
      
nav.section__nav
  ul.section__nav-list
    each val, key in {'christie':'images/team/christie_bechara.jpg','abraao':'images/team/abraao_alves.jpg','rebecca':'images/team/rebecca_castro.jpg'}
      +member(key, val) 

a(name='christie')
section.section(style='background-color:#F6F6F6;')
  .section__wrapper
    h1.section__title Christie Bechara
    h6 CEO
    p
      | Christie is a customer insights analyst with several years of experience in market research. She has worked with boutique research companies for a variety of clients spanning from magazines, entertainment, apparel, and CPG. She graduated with a BA in Psychology from UNC Chapel Hill. Meaghan likes writing letters the old fashioned way and creating her own stationary.
  a(name='abraao')
section.section
  .section__wrapper
    h1.section__title Abraão Alves
    h6 CTO
    p
      | Abraão specializes in whole-systems thinking, strategy, and project management. Prior to joining Mandalah, he worked in the startup world where he built and sold a consumer Internet company, managed a seminar business focused on teaching socially conscious business principles. Abraão is all about the outdoors and does not shy away from a weekend in the mountains of Utah where he holds a residence.
//      | Desenvolvedor de software a mais de 7 anos. Como empreendedor ajudou algumas startups a chegar nas finais em competições internacionais, como a GlobalStartBattle(NotaSocial) e PitchUp15(UpMyCity). Já palestrou em importantes eventos de tecnologia em Fortaleza, ex: CEJS, BrazilJS, CocoaHedas, .... Hoje atua como consultor/treinador de desenvovimento Agil em projetos/empresas parceiras. 

a(name='rebecca')
section.section(style="background-color:#F6F6F6;")
  .section__wrapper
    h1.section__title Rebecca Castro
    h6 COO
    p
      | Rebecca holds a BA in Graphic Design from the Universidade Federal do Rio de Janeiro, an MBA with a focus in Branding from the Faculdades Integradas Rio Branco in São Paulo, and an MPS in Design Management from Pratt Institute, where she focused on Triple Bottom Line principles through design strategies. She is inspired by people, interested in cultural diversity, and always seeks to understand all sides of a subject.
